.card {
    float: left;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    min-width: 290px;
}

.card .title {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
}

.card.center {
    display: flex;
    justify-content: center;
}

.card.width-100 {
    width: calc(100% - 80px);
}

.card.width-75 {
    width: calc(75% - 80px);
}

.card.width-50 {
    width: calc(50% - 80px);
}

.card.width-25 {
    width: calc(25% - 80px);
}

.card.width-33 {
    width: calc(33% - 80px);
}

