.section {
    float: left;
    display: flex;
    flex-wrap: wrap;
}

.section.center {
    justify-content: center;
}

.section.width-100 {
    width: 100%;
}

.section.width-75 {
    width: 75%;
}

.section.width-50 {
    width: 50%;
}

.section.width-25 {
    width: 25%;
}

.section.width-33 {
    width: 33%;
}
